<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="이름">
        <input type="password" name="userpass" placeholder="비밀번호">
        <button type="submit">로그인</button>
    </form>
    <a href="/join">회원가입</a>
</body>
</html>