<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN</title>
</head>
<body>
    <% if(locals.err) { %> 
        <%= err %> 
    <% } %>
    <a href="/logout">로그아웃</a>
   
</body>
</html>